---
permalink: "/sitemap.xml"
sitemap: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for page in collections.sitemapPages %}
  <url>
    <loc>{{ site.host }}{{ page.data.canonicalPath }}</loc>
    <lastmod>{{ page.date | isoDate }}</lastmod>
    <changefreq>{{ page.data.changefreq | default("monthly") }}</changefreq>
    <priority>{{ page.data.sitemapPriority | default(0.5) }}</priority>
  </url>
{% endfor %}
</urlset>
